<!DOCTYPE html>
<html>
<head>
    <title>Compiler</title>
    <style>
        #form{
            margin: 10px;
        }
        #name{
            margin: 10px;
            text-align: right;
            direction: rtl;
        }
        #code{
            height: 400px;
            width: 400px;
            margin: 10px;
            text-align: right;
            direction: rtl;
        }
        #submit{
            margin: 10px;
        }
    </style>
</head>
<body>
    <div id="main">
        <form action="/compiler" method="post" id="form">
            <input type="text" name="name" placeholder="نام فایل" id="name"><br/>
            <textarea name="code" placeholder="کد شما" id="code"></textarea><br/>
            <button type="submit" id="submit">پردازش کد</button>
        </form>
    </div>
</body>
</html>